@model RPGCharacterCreator.Models.Character

@{
    ViewBag.Title = "Characeter Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassChoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassChoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrengthPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrengthPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntelligencePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntelligencePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgilityPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgilityPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPoints)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
